.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
label{
  display:block;
  margin:10px auto;
}
button{
  display: block;
  padding: 20px;
  width:6rem;
  margin: 10px auto;
}

.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.haldiaLink{
  padding:5rem;
  margin: 20px;
  background-color: #f0ff64;
  border-radius: 10px;
  text-decoration: none;
  font-size: 2rem;
  color:black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.haldiaLink:hover{
  background-color: #111111;
  color:white;
}
.kandlaApp{
  text-align: center;
}
.kandlaLink{
  padding:5rem;
  margin: 20px;
  background-color: #f75454;
  border-radius: 10px;
  text-decoration: none;
  font-size: 2rem;
  color:black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.kandlaLink:hover{
  background-color: #111111;
  color:white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
