.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
label{
  display:block;
  margin:10px auto;
}
button{
  display: block;
  padding: 20px;
  width:6rem;
  margin: 10px auto;
}

.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.haldiaLink{
  padding:5rem;
  margin: 20px;
  background-color: #f0ff64;
  border-radius: 10px;
  text-decoration: none;
  font-size: 2rem;
  color:black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.haldiaLink:hover{
  background-color: #111111;
  color:white;
}
.kandlaApp{
  text-align: center;
}
.home{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.kandlaLink{
  padding:5rem;
  margin: 20px;
  background-color: #f75454;
  border-radius: 10px;
  text-decoration: none;
  font-size: 2rem;
  color:black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.kandlaLink:hover,.partywiseLink:hover,.newpartyLink:hover{
  background-color: #111111;
  color:white;
}
.partywiseLink{
  padding:5rem;
  margin: 20px;
  background-color: #54f754;
  border-radius: 10px;
  text-decoration: none;
  font-size: 2rem;
  color:black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.newpartyLink{
  padding:5rem;
  margin: 20px;
  background-color: #f7be54;
  border-radius: 10px;
  text-decoration: none;
  font-size: 2rem;
  color:black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header-partywise{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.header-partywise button{
  padding:5px;
}
.haldia-form,.kandla-form{
  text-align: center;
}
.allTotal{
  text-align: center;
}
.btnGrp{
  display: flex;
}
.btnGrp button{
  padding: 5px 15px;
  width: auto;
  background-color: rgb(96, 60, 255);
  outline: none;
  color: white;
  border: none;
  border-radius: 10px;
}
.btnGrp button:hover{
  background-color: rgb(56, 248, 104);
  color:black;
}
.card-holder{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.total-card{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  border: 1px solid black;
  padding:5px;
  line-height: 2px;
  margin: 1px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
details{
  padding: 10px;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
